<!-- login.component.html -->
<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="card">
    <div class="card-header text-center">
      <h2 class="login-header">Login</h2>
    </div>
    <div class="card-body">
      <div *ngIf="loginSuccess" class="alert alert-success text-center">Login bem-sucedido!</div>

      <form [formGroup]="loginForm" (ngSubmit)="authenticate()">
        <div class="form-group">
          <label for="email">E-mail:</label>
          <input type="text" id="email" class="form-control" style="margin-left: 8px;" formControlName="email" placeholder="Digite seu e-mail">
          <div *ngIf="emailErrorMessage" class="text-danger" >{{ emailErrorMessage }}</div>
        </div>

        <div class="form-group">
          <label for="senha">Senha:</label>
          <input type="password" id="senha" class="form-control" style="margin-left: 10px;" formControlName="senha" placeholder="Digite sua senha">
          <div *ngIf="senhaErrorMessage" class="text-danger">{{ senhaErrorMessage }}</div>
        </div>


        <div class="form-group text-center" style="margin-left: 126px;">
          <button type="submit" class="btn btn-primary" [ngClass]="{'btn-left': isLoginFormEmpty && isMouseOver}"
            [disabled]="isLoginFormEmpty">Entrar</button>
        </div>



        <p *ngIf="isLoginFormEmpty">
          Não tem uma conta?
          <button class="btn btn-link btn-register" (click)="registrar()"
            [ngClass]="{ 'btn-left': !isButtonDisabled }">Registre-se aqui</button>
        </p>

        <div *ngIf="errorMessage" class="alert alert-danger text-center">{{ errorMessage }}</div>
      </form>
    </div>
  </div>
</div>