/* login.component.css */

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 300px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-header {
  background-color: #007bff;
  color: #fff;
  text-align: center;
  padding: 15px 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.form-group {
  margin-bottom: 20px;
}

.form-control {
  height: 40px;
  border-radius: 8px;
  border: 1px solid #ced4da;
  padding: 0 15px;
  font-size: 16px;
}

.btn {
  height: 40px;
  border-radius: 8px;
  font-size: 16px;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.btn-register {
  color: #007bff;
  text-decoration: none;
  font-size: 16px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.btn-register:hover {
  color: #0056b3;
  text-decoration: underline;
}

.alert {
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
}

.alert-success {
  background-color: #d4edda;
  border-color: #c3e6cb;
  color: #155724;
}

.alert-danger {
  background-color: #f8d7da;
  border-color: #f5c6cb;
  color: #721c24;
}

/* Estilos adicionais para o botão "Registre-se aqui" */

.btn-register-container {
  text-align: center;
}
.login-header {
  font-size: 28px; /* Tamanho da fonte aumentado para 28 pixels */
}
.btn-register {
  margin-right: 10px; /* Adiciona um espaço à direita do botão */
}

.btn-register-move {
  transition: margin-left 0.3s ease; /* Adiciona uma transição suave para o movimento */
}

.btn-register-move:hover {
  margin-left: 20px; /* Move o botão para a direita ao passar o mouse */
}

/* styles.css (ou login.component.css) */

.alert-success {
  background-color: #d4edda; /* Cor de fundo */
  border-color: #c3e6cb; /* Cor da borda */
  color: #155724; /* Cor do texto */
  padding: 15px; /* Espaçamento interno */
  margin-top: 20px; /* Margem superior */
  border-radius: 5px; /* Borda arredondada */
  font-size: 16px; /* Tamanho da fonte */
}
