<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h2>Crie sua conta</h2>
        </div>
        <div class="card-body">
          <form [formGroup]="registerForm" (ngSubmit)="registrar()" novalidate>
            <div class="form-group">
              <label for="nome">Nome:</label>
              <input type="text" id="nome" class="form-control" formControlName="nome" placeholder="Digite seu Nome"
                (input)="validateField('nome')">
              <div *ngIf="registerForm.get('nome')?.touched && registerForm.get('nome')?.invalid" class="text-danger">
                <div *ngIf="registerForm.get('nome')?.hasError('required')">Nome é obrigatório</div>
                <div *ngIf="registerForm.get('nome')?.hasError('minlength')">O Nome deve ter pelo menos 3 caracteres
                </div>
                <div *ngIf="registerForm.get('nome')?.hasError('maxlength')">O Nome deve ter no máximo 50 caracteres
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="email">Email:</label>
              <input type="email" id="email" class="form-control" formControlName="email" placeholder="Digite seu Email"
                (input)="validateField('email')">
              <div *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.invalid" class="text-danger">
                <div *ngIf="registerForm.get('email')?.hasError('required')">Email é obrigatório</div>
                <div *ngIf="registerForm.get('email')?.hasError('email')">Formato de email inválido</div>
              </div>
            </div>

            <div class="form-group">
              <label for="senha">Senha:</label>
              <input type="password" id="senha" class="form-control" formControlName="senha"
                placeholder="Digite sua senha" (input)="validateField('senha')">
              <div *ngIf="registerForm.get('senha')?.touched && registerForm.get('senha')?.invalid" class="text-danger">
                <div *ngIf="registerForm.get('senha')?.hasError('required')">Senha é obrigatória</div>
                <div *ngIf="registerForm.get('senha')?.hasError('minlength')">A senha deve ter pelo menos 6
                  caracteres</div>
                <div *ngIf="registerForm.get('senha')?.hasError('maxlength')">A senha deve ter no máximo 20
                  caracteres</div>
              </div>
            </div>

            <div class="form-group">
              <label for="confirmaSenha">Confirmar senha:</label>
              <input type="password" id="confirmaSenha" class="form-control" formControlName="confirmaSenha"
                placeholder="Confirme sua senha" (input)="validateField('confirmaSenha')">
              <div *ngIf="registerForm.get('confirmaSenha')?.touched &&
                  registerForm.get('confirmaSenha')?.invalid" class="text-danger">
                <div *ngIf="registerForm.get('confirmaSenha')?.hasError('required')">Confirmação de senha é
                  obrigatória</div>
                <div
                  *ngIf="registerForm.get('confirmaSenha')?.touched && registerForm.get('confirmaSenha')?.hasError('passwordMismatch')"
                  class="text-danger">
                  As senhas não coincidem
                </div>
              </div>
            </div>

            <div *ngIf="mensagem" class="alert {{ mensagem.includes('sucesso') ? 'alert-success' : 'alert-danger' }} custom-message">
              {{ mensagem }}
            </div>

            <button id="botao-registrar" type="submit" class="btn btn-primary" [ngClass]="{'hide-button': registerForm.invalid}">
              Registrar
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>